body {
    height: 100%;
    width: 100%;
    margin: 0px;
}
#container {
    display: flex;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: gray;
}
#leftContainer {
    display: block;
    width: 35%;
}
#mainImage {
    width: 100%;
    height: 100%;
}
#odinContainer {
    position: absolute;
    width: 28vw;
    background-color: rgb(1, 1, 1, 0.4);
    top: 42vh;
    bottom:40vh;
    left: 10vw;
}
#odinContainer > img[src] {
    position: absolute;
    width: auto;
    height: 15vh;
    left: 6vw;;
    right: auto;
    top: 2vh;
}
#odinContainer > div {
    position: absolute;
    left: 13.2vw;
    top: 5vh;
    color: white;
    font-family:fantasy;
    font-weight: 500;
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
}
#rightContainer {
    display: flex;
    width: 65%;
    flex-direction: column;
    height: 100vh;
}
#introPara {
    height: 37%;
    padding-top: 10vh;
    padding-left: 3vw;
    padding-bottom: 3vw;
    padding-right: 10vw;
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
}
#middleSection {
    height: 26%;
    background-color: white;
    padding-left: 3vw;
    padding-top: 1vw;
    padding-bottom: 3vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}
#formContainerDiv {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400 !important;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 30%);
}
.inputLabelDiv {
    margin:0;
    width: 13vw;
    display: flex;
    flex-direction: column;
    padding-right: 3vw;
    padding-bottom: 2vw;
}
#bottomContainer {
    height: 37%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap:2vh;
    padding-left: 3vw;
    padding-top: 4vh;
    padding-bottom: 15%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
#createAccountBtn {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem !important;
    width: 25%;
    background-color: #596D48;
    color: white;
    border-radius: 0.3rem;
    padding: 0.6rem;
    border: none;
}
#createAccountBtn:hover {
    opacity: 0.5;
}
[input]:focus {
    border: rgb(0, 71, 171);
}

@media (max-height: 700px), screen and (orientation: portrait) {
    #introPara {
        padding-top: 2vh;
        padding-bottom: 2vh;
        height: 10%;
        font-size: 1.3rem;
    }
    #middleSection {
        padding-top: 1vh !important;
        font-size: 2rem;
        padding-bottom: 0.5vw;
        font-size: 1.7rem;
    } 
    #formContainer {
        height: 100%;
    }
    #formContainerDiv {
        font-size: 1.3rem;
        height: 85%;
        width: 100%;
    }
    .inputLabelDiv {
        width: auto;
        padding-right: 3vw;
        padding-bottom: 3vw;
    }
    .inputLabelDiv > input {
        margin-top: 0.5vh;
        height: 1.3vh;
    }
    #container {
        display: flex;
        flex-direction: column;
    }
    #rightContainer {
        width: auto;
    }
    #leftContainer {
        width: auto;
        height: 10vh;
    }
    #odinContainer > div {
        position: absolute;
        left: 22vw;
        top: 3vh;
        font-size: 5rem;
    }
    #odinContainer > img[src] {
        height: 7vh;
    }
    #odinContainer {
        top: 0vh;
        height: 10vh;
        width: 50vw;
    }
    #bottomContainer {
        height: auto;
        padding-left: 3vw;
        padding-top: 4vh;
        padding-bottom: 70%;
        font-size: 1.7rem;
    }
    #createAccountBtn {
        font-size: 1.7rem !important;
        width: 32%;
        padding: 0.8rem;
    }
} 

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }
    #container {
        background-color: black !important;
    }
    #introPara, #bottomContainer, #container {
        background-color: rgb(40, 40, 43);
    }
    #middleSection {
        background-color: 	rgb(52, 52, 52);
    }
}